* {
  margin: 0;
  font-weight: 100;
  font-family: "IBM Plex Sans", sans-serif;
  
}

/********************************************************* header *********************************************************/

.nav__responsive-ul {
  display: none;
}

.nav {
  background-color: #483d8b;
}

.nav__li {
  display: inline-block;
  padding: 12px;
  color: #fff;
}
.nav__li:hover > a {
  color: #bbb;
}
.nav__li:hover {
  color: #bbb;
}

.nav__li a {
  color: #fff;
  text-decoration: none;
}

.nav__li i {
  box-sizing: border-box;
  text-align: right;
  margin-right: 5px;
}

.nav__responsive-button-container {
  position: absolute;
  width: 100%;
  font-size: 25px;
  background-color: #483d8b;
  margin-top: -64px;
  z-index: 100;

}

.nav__responsive-button {
  padding: 6px 20px;
  text-align: left;
  width: 100%;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .nav__ul {
    display: none;
  }

  .nav {
    height: 37px;
    width: 100%;

  }

  .nav__responsive-ul {
    display: block;
    position: absolute;
    width: 90%;


    margin-top: 37px;
    padding-top: 27px;
    height: 37px;

  }

  .nav__li-container {
    position: relative;
    top: -1000px;
    height: 35vh;
    background-color: #483d8b;
    transition: all 1s;
    z-index: 1;
    width: 100%;
    padding-top: 27px;
  }

  .nav__responsive-li {
    width: 100%;
    padding: 9px 20px;
    list-style: none;
  }

  .nav__responsive-li i {
    box-sizing: border-box;
    text-align: center;
    margin-right: 5px;
    width: 30px;
    color: #fff;
    
  }

  .nav__responsive-li a {
    color: #fff;
    text-decoration: none;
  }

}
.nav__responsive-ul:hover > .nav__li-container {
  top: -27px;
}

/********************************************************* header *********************************************************/


.container {
  margin-top: 25px;
  
}

footer {
  background-color: #483d8b;
  color: #fff;
  
}



/********************************************************* main *********************************************************/

#contenido_principal{
  width: 960px;
  height: 800px;	 
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  }
  
  #imagen1{
  width: 350px;
  height: 300px;
  background-color: #919463;
  float: left;
  margin-bottom: 10px;
  background-image: url(/images/IMG4.jpg);
  background-size: cover;
  }
/*   
  #presentacion{
  width: 600px;
  height: 300px;
  background-color: #fff;
  float: right;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  
  } */
/*   
  #tituloarticulo{
  font-family: Helvetica;
  font-size: 30px;
  } */
  
  #contenido_articulo{
  font-family: Helvetica;
  font-size: 20px;
  }
/*   
  #texto_contenido{
  width: 250px;
  height: 300px;
  background-color: #8f9985;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  } */
/*   
  #contenido_segundo{
  font-family: Helvetica;
  font-size: 12px;
  } */
  
  #imagen2{
  width: 440px;
  height: 300px;
  background-color: #b37062;
  float: left;
  margin-bottom: 10px;
  background-image: url(../img/compudesign.jpg);
  background-size: cover;
  }
/*   
  #destacado{
  width: 250px;
  height: 300px;
  background-color: #3d3d3a;
  float: right;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  } */
/*   
  #contenido_destacado{
  font-family: Arial;
  font-size: 30px;
  } */
/*   
  #complementario{
  width: 960px;
  height: 180px;  
  clear: both;  
  object-fit: scale-down ; 
  } */
  
  /* #imagen_aside{
  height: 180px;
  width: 960px;
  } */



/*
.cont {
  margin: auto;
  margin-top: 50px;
  border: 4px solid #000;
  background: #00f;
  width: 50%;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.cont img {
  float: right;
  margin-left: 25px;
  width: 100px;
  object-fit: none;
  object-position: top;
} */

/*
.caja1 {
  background-color: orange;
}
.caja2 {
  background-color: green;
  position: relative;
  left: 200px;
}
.caja3 {
  background-color: lightblue;
}
.caja4 {
  background-color: yellow;
} */








